<div class="page-header">
  <h1>Planets</h1>
</div>

<ul class="breadcrumb">
  <li><a href="/">Current Game</a> <span class="divider">/</span></li>
  <li class="current">Planets</li>
</ul>

<ul>
<% @planets.each do |planet| %>
    <li><%= link_to planet.name, planet %></li>
<% end %>
</ul>

<%= link_to "Add a planet", new_planet_path, class: 'btn' %>
