<div class="page-header">
  <h1>Planets</h1>
</div>

<ul class="breadcrumb">
  <li><a href="/">Current Game</a> <span class="divider">/</span></li>
  <li class="current">Planets</li>
</ul>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Birth Year</th>
  </tr>
<% @planets.each do |planet| %>
  <tr>
    <td><%= link_to planet.name, planet %></td>
    <td><%= planet.birth_year %></td>
  </tr>
<% end %>
</table>

<%= link_to "Add a planet", new_planet_path, class: 'btn' %>
