<h1>Current Game</h1>

<ul>
  <li>Year: <span class="year"><%= @game.year %></span></li>
</ul>

<script type="text/javascript">
  $(document).ready(function(){
    $('#run_game').click(game.run);
    
    $(game).bind('game:advanced', function(e, json){
      $('.year').html(json.year);
    });
  });
</script>

<p><a id="run_game" href="#">Run</a></p>

<h2>Planets:</h2>

<ul>
  <% @game.planets.each do |planet| %>
    <li><%= link_to planet.name, planet_path(planet) %></li>
  <% end %>
</ul>