<div class="page-header">
  <h1>Your Current Game</h1>
</div>

<ul class="breadcrumb">
  <li class="current"><a href="/">Current Game</a></li>
</ul>

<ul>
  <li>Year: <span data-year=""><%= @game.year %></span></li>
</ul>

<script type="text/javascript">
  $(document).ready(function(){
    $(game).bind('game:advanced', function(e, json){
      $('[data-year]').html(json.year);
    });
  });
</script>