<div class="page-header">
  <h1>Your Current Game</h1>
</div>

<ul class="breadcrumb">
  <li class="current"><a href="/">Current Game</a></li>
</ul>

<table class="table table-bordered">
  <tr>
    <th>Year</th>
  </tr>
  <tr>
    <td data-year=""><%= @game.year %></td>
  </tr>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    $(game).bind('game:advanced', function(e, json){
      $('[data-year]').html(json.year);
    });
  });
</script>