<h1>Current Game</h1>

<ul>
  <li>Year: <%= @game.year %></li>
</ul>

<%= form_tag(run_game_path, :method => :put) do |f| %>
  <%= submit_tag "Run" %>
<% end %>

<h2>Planets:</h2>

<ul>
  <% @game.planets.each do |planet| %>
    <li><%= link_to planet.name, planet_path(planet) %></li>
  <% end %>
</ul>