<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Toroid</a>

      <ul class="nav">
        <li><a href="<%= planets_path %>">Planets</a></li>
      </ul>
      <div class="navbar-form pull-right">
        <button class="btn" id="run_game"><i class="icon-refresh"></i> Run</button>
      </div>
    </div>
  </div>
</div>