<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Toroid</a>

      <ul class="nav">
        <li><a href="<%= planets_path %>">Planets</a></li>
      </ul>
    </div>
  </div>
</div>